/target
/tmp
/venv

/CMakeLists.txt
/cmake-build-debug/**

/bin/**
!/bin/.keep

/prebuilt_patched_lib/**
!/prebuilt_patched_lib/.keep

/generation/bin/**
!/generation/bin/.keep
/generation/gramine-build/*.token
/generation/gramine-build/*.sig
/generation/gramine-build/*.manifest.sgx
/generation/gramine-build/*.manifest
/generation/gramine-build/dcap-generation-test.o
/generation/gramine-build/dcap-generation-test
