/target
/tmp
/venv

/bin/**
!/bin/.keep

/prebuilt_patched_lib/**
!/prebuilt_patched_lib/.keep

/gramine-build/*.token
/gramine-build/*.sig
/gramine-build/*.manifest.sgx
/gramine-build/*.manifest

/gramine-build/dcap-test.o
/gramine-build/dcap-test
