[libos]
entrypoint = "dcap-generation-test"

[loader]
entrypoint = "file:{{ libos }}"
log_level = "{{ log_level }}"
argv0_override = "dcap-generation-test"
insecure__use_cmdline_argv = true

[sys]
insecure__allow_eventfd = true

[loader.env]
LD_LIBRARY_PATH = "{{ libdir }}:{{ arch_libdir }}"
MALLOC_ARENA_MAX = "1"
RUST_LOG = { passthrough = true }
all_proxy = { passthrough = true }
i2p_proxy = { passthrough = true }

[[fs.mounts]]
type = "chroot"
path = "/lib"
uri = "file:{{ libdir }}"

[[fs.mounts]]
type = "chroot"
path = "/lib/x86_64-linux-gnu"
uri = "file:{{ arch_libdir }}"

[[fs.mounts]]
type = "encrypted"
key_name = "_sgx_mrenclave"
path = "/data/protected_files"
uri = "file:{{ seal_dir }}"

[[fs.mounts]]
type = "chroot"
path = "/data/storage_files"
uri = "file:{{ storage_dir }}"

[[fs.mounts]]
type = "chroot"
path = "/etc"
uri = "file:/etc"

[sgx]
debug = false
nonpie_binary = true
enclave_size = "2G"
thread_num = 32
remote_attestation = true
# remote_attestation = "{{ ra_type }}"
# {% if ra_type == "epid" %}
# ra_client_spid = "{{ ra_client_spid }}"
# ra_client_linkable = {{ 'true' if ra_client_linkable == '1' else 'false' }}
# {% endif %}

trusted_files = [
  "file:{{ libos }}",
  "file:{{ libdir }}",
  "file:{{ arch_libdir }}",
  "file:dcap-generation-test",
]

allowed_files = [
  "file:/etc/hosts",
  "file:/etc/resolv.conf",
  "file:/etc/sgx_default_qcnl.conf",
  "file:{{ storage_dir }}/",
]
